<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS This link tag is for Navbar to work-->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>{{ page_name|title }}</title>
    <!-- <title>{% block head_title %}{% endblock %} CFE</title> -->
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid">{% block content %} {% endblock %}</div>

    {% include 'js.html' %}
  </body>
</html>
