{% extends 'base.html' %} 

{% block content %}
<h1>This is the home page</h1>
<br>
<h3>{{ title }}</3>
  <br>
  <br>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore fugiat nulla
    deserunt tenetur voluptatum, provident, repellendus corporis excepturi,
    consectetur eum nemo molestias labore quos recusandae ullam facere quibusdam
    nisi obcaecati. Ipsam voluptas nemo quos, minima libero sunt vel neque? Nihil
    molestiae tenetur placeat non minus nobis mollitia perspiciatis ea cum nemo
    libero blanditiis adipisci repellendus tempora dolores consequuntur, in
    beatae. Rem perferendis, assumenda soluta nam hic quidem consectetur dolorem,
    adipisci ipsam labore voluptatibus nisi asperiores accusamus molestiae
    corrupti tempora fugiat amet non dolore id autem mollitia! Harum tempore
    consequatur eius, vero alias rem earum, numquam cumque, minus magni expedita
    dolorem iste eaque blanditiis ratione neque doloribus quo hic enim assumenda
    sequi? Culpa voluptas fugit exercitationem dolores eius aliquam ratione
    facilis earum, nam dignissimos animi expedita quas voluptatum accusantium
    reiciendis consectetur enim aut ipsa placeat vero necessitatibus veniam a.
    Exercitationem quas veniam illum? Nisi repudiandae ratione nesciunt aliquam
    autem? Ab, in harum iusto minima rem nihil provident ipsa minus dolore sunt
    velit est repellendus voluptatem commodi inventore voluptates totam ea
    accusantium nulla facilis nesciunt asperiores officiis consequatur neque?
    Tempora vitae aut placeat quam id! Ab, hic et ex odit exercitationem
    excepturi, nesciunt quasi expedita cupiditate eveniet facilis? Animi ea quia
    enim, earum nobis nesciunt consectetur et, veniam illum cumque odio? Sunt
    labore, est quaerat adipisci neque esse ipsa, minima quis eos iusto nam
    nesciunt? Eveniet atque reiciendis, voluptatem assumenda, cum voluptate
    consequatur totam, necessitatibus laudantium quasi facere esse maxime id
    minima iusto optio. Ullam laudantium architecto eum atque. Neque, ex
    exercitationem.
  </p>
{% endblock content %}
