{% extends 'base.html' %}



{% block content %}
    <h1>This are the LEADS!!!</h1>
    <a href="{% url 'crm_lead_create'  %}">
        <input type="submit" value="Create">
    </a>
    <hr>
    
    {% for lead in leads %}
        <div>
            {{ lead }}
            <a href="{% url 'crm_lead_details' pk=lead.pk %}">
                <input type="submit" value="Details">
            </a>
            <a href="{% url 'crm_lead_edit' pk=lead.pk %}">
                <input type="submit" value="Edit">
            </a>
            <a href="{% url 'crm_lead_delete' pk=lead.pk %}">
                <input type="submit" value="Delete">
            </a>
        </div><hr>
        
    {% endfor %}
        
{% endblock content %}
    